.Container {
  padding-right: var(--center-size);
  padding-left: var(--center-size);
}
.Container.top {
  padding-top: var(--center-size);
}
.Container.header {
  padding-top: 60px;
}
.Container.header.top {
  padding-top: 80px;
}
.Container.without-center {
  padding-right: 0;
  padding-left: 0;
}