.Container.top {
  padding-top: var(--center-size);
}
.Container.header {
  padding-top: 60px;
}
.Container.header.top {
  padding-top: calc(var(--center-size) + 60px);
}
.Container.space {
  padding-right: var(--center-size);
  padding-left: var(--center-size);
}
.Container.center {
  display: grid;
  align-content: center;
  justify-items: center;
}
.Container.full-height {
  min-height: 100vh;
}